<ion-view view-title="Menu Ingredientes">
  <ion-content>

  <div class="list card">

  <div class="item item-avatar">
    <img src="img/logo-transparente-doh3.png">
    <h2>Bebidas</h2>
    <p>Bebidas - Hamburguesas del Oeste</p>


  </div>

  <div class="item item-image">
    <img src="img/vino.png" style="width:300px;">
  </div>


<button class=" button button-dark col col-50" style="margin:0 auto;"> Precio : 22.900</button>

<button class="button button-block button-positive" href="#" style="margin:7px; margin-right:30px;">  
 <i class="icon ion-plus-circled"></i>
 AGREGAR AL PEDIDO
</button>



</div>
  <!-- Inicio de la lista -->
  <div class="item item-divider">
    <h1 class="item item-icon-left calm" href="#">
    <i class="icon ion-clipboard"></i>
    Seleccionar Ingredientes 
  </h1>
  </div>

  <div>
    <ul class="list">

       <!-- Boton enviar -->



      <li class="item item-checkbox item-button-right">
         <label class="checkbox">
           <input type="checkbox" checked="checked" >
         </label>
         10 años
          <button class="button button-clear">$19.000</button>
      </li>


      <li class="item item-checkbox item-button-right">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         15 años
         <button class="button button-clear">$39.000</button>
      </li>
      <li class="item item-checkbox item-button-right">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         20 años
         <button class="button button-clear">$49.000</button>
      </li>
      <li class="item item-checkbox item-button-right">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         30 años 
         <button class="button button-clear">$69.000</button>
      </li>

    </ul>
 <!-- Final Lista -->

<!-- Final enviar -->
  </ion-content>
</ion-view>
