<ion-view view-title="Tu Cuenta">
  <ion-content>
    <div class="gran_contenedor centro_menu" >    
      <div class="row">
          <div class="col col-50 cuadrados alclic">
              <a href="#/resumen">
              <a href="#/resumen-pedido">
                <div class="iconos">
                  <img src="img/resumenpedido.png" alt="llamar mesero">
                </div>
                <h3 class="letras_btn">RESUMEN DEL PEDIDO</h3>
              </a>
            </div>
          
     <div class="col col-50 cuadrados alclic">
              <a href="#/menu">
                <div class="iconos">
                    <img src="img/vermenu.png" alt="llamar mesero">
                </div>
             <h3 class="letras_btn">AGREGAR AL PEDIDO</h3>
             </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-50 cuadrados alclic">
            <a href="#/cuenta">
              <div class="iconos">
                <img src="img/pedircuenta.png" alt="llamar mesero">
              </div>
            <h3 class="letras_btn">PEDIR LA CUENTA</h3>
            </a>
          </div>
          <div class="col col-50 cuadrados alclic">
            <a href="#/juegos">
              <div class="iconos">
                <img src="img/promociones.png" alt="llamar mesero">
              </div>
             <h3 class="letras_btn">PROMOCIONES</h3>
             </a>
          </div>
        </div>
       </div>
  </ion-content>
</ion-view>

