<ion-view view-title="Menu">
  <ion-content>

  <div class="list card">

  <div class="item item-avatar">
    <img src="img/logo-transparente-doh3.png">
    <h2>Ensalada de Pollo</h2>
    <p>Ensaladas - Hamburguesas del Oeste</p>
  </div>

  <div class="item item-image">
    <img src="img/ensalada3.png" style="width:300px;">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-clipboard"></i>
    Seleccionar Ingredientes 
  </a>

</div>
  <!-- Inicio de la lista -->
    <ul class="list">

   <!-- Boton enviar -->
<button class="button button-block button-positive">
  
  <i class="icon ion-plus-circled"></i>
 AGREGAR AL PEDIDO
</button>




  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked" >
     </label>
     Ensalada de pasta
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de pollo
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de arroz
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de pasta y atún
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Old Parr
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de patata
  </li>

</ul>
 <!-- Final Lista -->

<!-- Final enviar -->
  </ion-content>
</ion-view>
