<ion-view view-title="tuCocinaVirtual">
  <ion-content>
  <div class="gran_contenedor">
    <div class="tucocina">
    <img src="img/tucocina.jpg" alt="" id="logotucocina">
    </div>
    <div class="row">
      <!-- inicio de boton LLAMAR MESERO -->
            <div class="col col-50 cuadrados">
              <a href="#/mesero">
                <div class="iconos">
                  <img src="img/llamarmesero.png" alt="llamar_mesero">
                </div>
                <h3 class="letras_btn">LLAMAR  MESERO</h3>
              </a>
            </div>
      <!-- Final del boton LLAMAR MESERO -->
      <!-- Inicio del boton VER MENU -->
             <div class="col col-50 cuadrados">
              <a href="#/menu">
                <div class="iconos">
                  <img src="img/vermenu.png" alt="mesero">
                </div>
                <h3 class="letras_btn">VER  MENU</h3>
              </a>
            </div> 
      <!-- Final del boton VER MENU -->
        </div>
        <div class="row">
      <!-- Inicio del boton PEDIR CUENTA -->    
          <div class="col col-50 cuadrados">
            <a href="#/cuenta">
              <div class="iconos">
                <img src="img/pedircuenta.png" alt="cuenta">
              </div>
            <h3 class="letras_btn">PEDIR CUENTA</h3>
            </a> 
          </div>
      <!-- Final del boton PEDIR CUENTA -->
      <!-- Inicio del boton JUEGOS --> 
          <div class="col col-50 cuadrados">
            <a href="#/juegos">
              <div class="iconos">
                <img src="img/ICentretenimiento.png" alt="juegos">
              </div>
             <h3 class="letras_btn">JUEGOS</h3>
             </a>
          </div>
      <!-- Final De Boton JUEGOS --> 
        </div>
    </div>
  </ion-content>
</ion-view>
