<ion-view view-title="Menu">
<div class="list" style="padding-top:75px;">
    <a class="item item-thumbnail-left" href="#/plato">
      <img src="img/plato1.jpg">

      <h2>Carne Asada</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/plato2.jpg">
      <h2>Nutresa</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/plato3.jpg">
      <h2>Pipie de ave relleno de quesillo</h2>
      <p>Nine Inch Nails</p>
      <p>rama1</p>
    </a>
</div>