<ion-view view-title="Menu Postres">
<div class="list" style="padding-top:75px;">
    <a class="item item-thumbnail-left" href="#/postres">
      <img src="img/postre1.png">

      <h2>Postre de manzana</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/postre2.png">
      <h2>Postre de fresa</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/postre3.png">
      <h2>Pipie de ave relleno de quesillo</h2>
      <p>Nine Inch Nails</p>
    </a>
</div>
</ion-view>