<ion-view view-title="Menu Ensaladas">
<div class="list" style="padding-top:75px;">
    <a class="item item-thumbnail-left item-button-right" href="#/ensaladas">
      <img src="img/ensalada3.png">
      <h2>Ensalada de Pollo</h2>
      <p>Nine Inch Nails</p>
      <h4>Precio: $17.900</h4>
      <button class="button button-positive">
            +
      </button>   
    </a>

    <a class="item item-thumbnail-left item-button-right" href="#/ensaladas">
        <img src="img/ensalada2.png">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
          <h4>Precio: $27.900</h4>
          <button class="button button-positive">
             +
          </button>   
        </a>
    <a class="item item-thumbnail-left item-button-right" href="#/ensaladas">
      <img src="img/ensalada1.png">
       <h2>Ensalada Marinera</h2>
       <p>Nine Inch Nails</p>
       <h4>Precio: $5.900</h4>
      <button class="button button-positive">
           +
      </button>   
    </a>
</div>
</ion-view>