<ion-view view-title="Menu Bebidas">
<div class="list" style="padding-top:75px;">
    <a class="item item-thumbnail-left" href="#/bebidas">
      <img src="img/vino1.png">

      <h2>Vino Cabernet</h2>
      <p>Nine Inch Nails</p>
      <h4>$12.000</h4>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/vino2.png">
      <h2>Vino Merlot</h2>
      <p>Nine Inch Nails</p>
      <h4>$15.000</h4>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/vino3.png">
      <h2>Vino Syrah</h2>
      <p>Nine Inch Nails</p>
      <h4>$20.000</h4>
    </a>
    
</div>
</ion-view>