<ion-view view-title="Menu Ensaladas">
<div class="list" style="padding-top:75px;">
    <a class="item item-thumbnail-left" href="#/ensaladas">
      <img src="img/ensalada3.png">

      <h2>Ensalada de Pollo</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ensalada2.png">
      <h2>Ensalada de Frutas</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ensalada1.png">
      <h2>Ensalada Marinera</h2>
      <p>Nine Inch Nails</p>
    </a>
</div>
</ion-view>