<ion-view view-title="Menu">
  <ion-content>

    







    <div class="gran_contenedor centro_menu" >

            



      <img src="img/restaurant34.png" alt="que_quieres_comer">
        
        <div >
          <h1 class="letras_btn" style="color:#2C3E50;margin:auto;background:lightgrey;border-radius:4px;    width: 250px;    padding: 2px;">¿Qué Quieres Comer?</h1>
        </div>
    <div class="row">
      <!-- inicio de boton BEBIDAS -->
            <div class="col col-50 cuadrados">
              <a href="#/bebidas">
                <div class="iconos">
                  <img src="img/ICbebidas.png" alt="bebidas">
                </div>
                <h3 class="letras_btn"> BEBIDAS </h3>
              </a>
            </div>
      <!-- Final del boton BEBIDAS -->
      <!-- Inicio del boton ENSALADAS -->
             <div class="col col-50 cuadrados">
              <a href="#/menu-ensaladas">
                <!-- falta poner #/ensaladas -->
                <div class="iconos">
                  <img src="img/ensaladas.png" alt="ensaladas">
                </div>
                <h3 class="letras_btn"> ENSALADAS </h3>
              </a>
            </div> 
      <!-- Final del boton ENSALADAS -->
        </div>
        <div class="row">
      <!-- Inicio del boton PLATO FUERTE -->    
          <div class="col col-50 cuadrados">
            <a href="#/plato">
              <div class="iconos">
                <img src="img/platofuerte.png" alt="plato_fuerte">
              </div>
            <h3 class="letras_btn">PLATO FUERTE</h3>
            </a> 
          </div>
      <!-- Final del boton PLATO FUERTE -->
      <!-- Inicio del boton POSTRE --> 
          <div class="col col-50 cuadrados">
            <a href="#/postres">
              <div class="iconos">
                <img src="img/postres.png" alt="postres">
              </div>
             <h3 class="letras_btn">POSTRES</h3>
             </a>
          </div>
      <!-- Final De Boton JUEGOS --> 
        </div>
    </div>    
  </ion-content>
</ion-view>
