<ion-view view-title="Menu Postres">
<div class="list" style="padding-top:75px;">
    <a class="item item-thumbnail-left item-button-right" href="#/postres">
      <img src="img/postre1.png">
      <h2>Postre de manzana</h2>
      <p>Nine Inch Nails</p>
      <h4>Precio: $7.900</h4>
      <button class="button button-positive">
            +
      </button>   
    </a>
    <a class="item item-thumbnail-left item-button-right" href="#/postres">
      <img src="img/postre2.png">
      <h2>Postre de fresa</h2>
      <p>Nine Inch Nails</p>
      <h4>Precio: $17.900</h4>
      <button class="button button-positive">
            +
      </button>   
    </a>
    <a class="item item-thumbnail-left item-button-right" href="#/postres">
      <img src="img/postre3.png">
      <h2>Ensalada de Pollo</h2>
      <p>Nine Inch Nails</p>
      <h4>Precio: $4.900</h4>
      <button class="button button-positive">
            +
      </button>   
    </a>
</div>
</ion-view>