<ion-view view-title="Menú Comida">
  <ion-content>
   <div class="gran_contenedor centro_menu" >        
        <div >
          
          <div class="letras_btn" style="margin:auto;background:#2C3E50;border-radius:4px;    width: 350px;    padding: 2px;"> 
            <h1 style="font-size:1.4em;color:white;">
            <img src="img/restaurant34.png" alt="que_quieres_comer" style="width:15%;">
            ¿Qué Quieres Comer?
            <img src="img/restaurant34.png" alt="que_quieres_comer" style="width:15%;">
          </h1>

          </div>
        </div>
    <div class="row">
      <!-- inicio de boton BEBIDAS -->
            <div class="col col-50 cuadrados">
              <a href="#/menu-bebidas">
                <div class="iconos">
                  <img src="img/ICbebidas.png" alt="bebidas">
                </div>
                <h3 class="letras_btn"> BEBIDAS </h3>
              </a>
            </div>
      <!-- Final del boton BEBIDAS -->
      <!-- Inicio del boton ENSALADAS -->
             <div class="col col-50 cuadrados">
              <a href="#/menu-ensaladas">
                <!-- falta poner #/ensaladas -->
                <div class="iconos">
                  <img src="img/ensaladas.png" alt="ensaladas">
                </div>
                <h3 class="letras_btn"> ENSALADAS </h3>
              </a>
            </div> 
      <!-- Final del boton ENSALADAS -->
        </div>
        <div class="row">
      <!-- Inicio del boton PLATO FUERTE -->    
          <div class="col col-50 cuadrados">
            <a href="#/menu-plato">
              <div class="iconos">
                <img src="img/platofuerte.png" alt="plato_fuerte">
              </div>
            <h3 class="letras_btn">PLATO FUERTE</h3>
            </a> 
          </div>
      <!-- Final del boton PLATO FUERTE -->
      <!-- Inicio del boton POSTRE --> 
          <div class="col col-50 cuadrados">
            <a href="#/menu-postres">
              <div class="iconos">
                <img src="img/postres.png" alt="postres">
              </div>
             <h3 class="letras_btn">POSTRES</h3>
             </a>
          </div>
      <!-- Final De Boton JUEGOS --> 
        </div>
    </div>    
  </ion-content>
</ion-view>
