<ion-view view-title="Llamar Mesero">
  <ion-content class="padding">
    <div class="row">
          
            <div class="col col-50 cuadrados alclic">
              <a href="#/mesero">
                <div class="iconos">
                  <img src="img/llamarmesero.png" alt="llamar mesero">
                </div>
                <h3 class="letras_btn">LLAMAR MESERO</h3>
              </a>
            </div>
          
     <div class="col col-50 cuadrados alclic">
              <a href="#/menu">
                <div class="iconos">
                    <img src="img/vermenu.png" alt="llamar mesero">
                </div>
             <h3 class="letras_btn">VER MENÚ</h3>
             </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-50 cuadrados alclic">
            <a href="#/cuenta">
              <div class="iconos">
                <img src="img/pedircuenta.png" alt="llamar mesero">
              </div>
            <h3 class="letras_btn">PEDIR CUENTA</h3>
            </a>
          </div>
          <div class="col col-50 cuadrados alclic">
            <a href="#/juegos">
              <div class="iconos">
                <img src="img/llamarmesero.png" alt="llamar mesero">
              </div>
             <h3 class="letras_btn">ENTRETENIMIENTO / JUEGOS</h3>
             </a>
          </div>
        </div>
  </ion-content>
</ion-view>
