<ion-view view-title="Tu Cuenta">
  <ion-content>
    <div class="card">
  <div class="item item-divider">
    Resumen de la Cuenta
  </div>
  <div class="item item-text-wrap">
       <a class="item item-thumbnail-left item-button-right">
          <img src="img/postre2.png">
          <h2>Postre de fresa</h2>
          <p>Nine Inch Nails</p>    
          <h4>Precio: $6.000</h4>              
        </a>
  </div>
    <div class="item item-text-wrap">
       <a class="item item-thumbnail-left item-button-right">
          <img src="img/ensalada1.png">
          <h2>Ensalada Marinera</h2>
          <p>Nine Inch Nails</p>    
          <h4>Precio: $14.900</h4>              
        </a>
  </div>
    <div class="item item-text-wrap">
       <a class="item item-thumbnail-left item-button-right">
          <img src="img/plato1.png">
          <h2>Carne Asada</h2>
          <p>Nine Inch Nails</p>    
          <h4>Precio: $12.900</h4>              
        </a>
  </div>
  <div class="item item-text-wrap colortotal">
      <h2>TOTAL ${{12900+14900+6000}}</h2>
  </div>
  <div class="item item-divider">
      <button class="button button-block button-positive">
              REALIZAR PAGO
      </button>
  </div>
</div> 
  </ion-content>
</ion-view>

