<ion-view view-title="Menu">
  <ion-content>
  <!-- Inicio de la lista -->
    <ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked" >
     </label>
     Ensalada de pasta
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de pollo
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de arroz
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de pasta y atún
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Old Parr
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de patata
  </li>
   <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de pasta y atún
  </li>

</ul>
 <!-- Final Lista -->
 <!-- Boton enviar -->
<button class="button button-block button-positive">
  ENVIAR
</button>
<!-- Final enviar -->
  </ion-content>
</ion-view>
