<ion-view view-title="Menu Ingredientes">
  <ion-content>

  <div class="list card">
     <div class="item item-avatar">
        <img src="img/logo-transparente-doh3.png">
        <h2>Carne Asada</h2>
        <p>Carne Asada - Hamburguesas del Oeste</p>
  </div>
  <div class="item item-image">
    <img src="img/plato1.png" style="width:300px;">
  </div>
    <button class=" button button-dark col col-50" style="margin:0 auto;"> Precio : 22.900 </button>

    <button class="button button-block button-positive">
    <i class="icon ion-plus-circled"></i>
      AGREGAR AL PEDIDO
    </button>
</div>
  <div class="item item-divider">
    <h1 class="item item-icon-left calm" href="#">
    <i class="icon ion-clipboard"></i>
    Seleccionar Ingredientes 
    </h1>
  </div>
  <!-- Inicio de la lista -->
    <ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked" >
     </label>
     Tomate
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Lechuga
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Yuca frita 
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Papa 
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Old Parr
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ensalada de patata
  </li>

</ul>
<!-- Final enviar -->
  </ion-content>
</ion-view>
