<ion-view view-title="Menu Ingredientes">
  <ion-content>

  <div class="list card">

  <div class="item item-avatar">
    <img src="img/logo-transparente-doh3.png">
    <h2>Postres</h2>
    <p>Postres - Hamburguesas del Oeste</p>
  </div>

  <div class="item item-image">
    <img src="img/postre1.png" style="width:300px;">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-clipboard"></i>
    Seleccionar Ingredientes 
  </a>

</div>
  <!-- Inicio de la lista -->
    <ul class="list">

   <!-- Boton enviar -->
<button class="button button-block button-positive">
  
  <i class="icon ion-plus-circled"></i>
 AGREGAR AL PEDIDO
</button>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked" >
     </label>
     Salsa de mora
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Salsa de piña
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Salsa de fresa
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Salsa de maracuya 
  </li>
 <!-- Final Lista -->

<!-- Final enviar -->
  </ion-content>
</ion-view>
