<ion-view view-title="Menu Ingredientes">
  <ion-content>

<div class="list card">
  <div class="item item-avatar">
      <img src="img/logo-transparente-doh3.png">
      <h2>Postres</h2>
      <p>Postres - Hamburguesas del Oeste</p>
  </div>
  <div class="item item-image">
      <img src="img/postre1.png" style="width:300px;">
  </div>
    <button class=" button button-dark col col-50" style="margin:0 auto;"> Precio : 22.900 </button>

    <button class="button button-block button-positive">
    <i class="icon ion-plus-circled"></i>
      AGREGAR AL PEDIDO
    </button>
</div>
  <div class="item item-divider">
    <h1 class="item item-icon-left calm" href="#">
    <i class="icon ion-clipboard"></i>
    Seleccionar Ingredientes 
    </h1>
  </div>
  <!-- Inicio de la lista -->
<ul class="list">
    <!-- Boton enviar -->
  <li class="item item-checkbox item-button-right">
     <label class="checkbox">
       <input type="checkbox" checked="checked" >
     </label>
     Salsa de mora
     <button class="button button-clear">$19.000</button>
  </li>
  <li class="item item-checkbox item-button-right">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Salsa de piña
     <button class="button button-clear ">$19.000</button>
  </li>
  <li class="item item-checkbox item-button-right">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Salsa de fresa
      <button class="button button-clear">$19.000</button>
  </li>
  <li class="item item-checkbox item-button-right">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Salsa de maracuya 
      <button class="button button-clear">$19.000</button>
  </li>
</ul>
 <!-- Final Lista -->
  </ion-content>
</ion-view>
