<ion-view view-title="Menu">
  <ion-content>
  <!-- Inicio de la lista -->
    <ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked" >
     </label>
    Pay de Chocolate Sedoso
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Gaseosita
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label >
     Antioqueño
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Ron Santa fe
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Old Parr
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" checked="checked">
     </label>
     Chiva Regal
  </li>

</ul>
 <!-- Final Lista -->
 <!-- Boton enviar -->
<button class="button button-block button-positive">
    ENVIAR
</button>
<!-- Final enviar -->
  </ion-content>
</ion-view>
