<ion-view view-title="Tu Cuenta">
  <ion-content>
    <div style="margin-top:40px; padding:10px;" >
      <div class="list">
        <a class="item item-thumbnail-left item-button-right" href="#">
          <img src="img/ensalada2.png">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
          <button class="button button-positive">
             editar
          </button>    
          <h4>Precio: $14.900</h4>              
        </a>
        <a class="item item-thumbnail-left item-button-right" href="#">
          <img src="img/plato1.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
          <h4>Precio: $27.900</h4>
          <button class="button button-positive">
            editar
          </button>   
        </a>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <h2>TOTAL ${{27900+14900}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
            <button class="button button-block button-positive">
              HACER PEDIDO
            </button>
        </div>
        <div class="col col-50">
              <button class="button button-block button-assertive">
                PEDIR LA CUENTA
              </button>         
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>

